body {
  background: #f0f1f5; }

.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%; }

.navbar-nav {
  margin-top: 0.75rem; }

.search {
  position: relative;
  margin-top: auto;
  margin-bottom: auto; }
  .search input {
    text-indent: 30px;
    border: 0; }
    .search input::-webkit-input-placeholder {
      color: #16151570; }
    .search input::-ms-input-placeholder {
      color: #16151570; }
    .search input::placeholder {
      color: #16151570; }
  .search .fa-search {
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 15px;
    color: #16151570; }

#main-nav {
  background-color: #494b5c;
  height: 100%;
  font-size: 0.9rem;
  padding: 0; }
  #main-nav .btn {
    border: none; }
  #main-nav li {
    list-style-type: none;
    margin: 0;
    padding: 0.8rem 0 0.8rem 1.5rem; }
    #main-nav li:hover {
      background-color: #5a6078;
      border-left: 6px solid #14a6fa; }
    #main-nav li .active {
      background-color: #5a6078;
      border-left: 6px solid #14a6fa; }
  #main-nav a {
    color: #f0f1f5; }
    #main-nav a:link {
      text-decoration: none; }
  #main-nav hr {
    background-color: #808080;
    margin: 1.5rem 0; }
  #main-nav .box {
    float: left;
    overflow: hidden; }
  #main-nav .box-inner {
    padding: 10px; }
