@import "variables";

body {
  background: $off-white;
}

.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.navbar-nav {
  margin-top: 0.75rem;
}

.search {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;

  input {
    text-indent: 30px;
    // background-color: $med-blue;
    border: 0;

    &::placeholder {
      color: $light-gray;
    }
  }

  .fa-search {
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 15px;
    color: $light-gray;
  }
}

#main-nav {
  background-color: $dark-gray;
  height: 100%;
  font-size: 0.9rem;
  padding: 0;

  .btn {
    border: none;
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 0.8rem 0 0.8rem 1.5rem;

    &:hover {
      background-color: $dark-blue;
      border-left: 6px solid $light-blue;
    }

    .active {
      background-color: $dark-blue;
      border-left: 6px solid $light-blue;
    }
  }

  a {
    color: $off-white;

    &:link {
      text-decoration: none;
    }
  }

  hr {
    background-color: #808080;
    margin: 1.5rem 0;
  }

  .box {
    float: left;
    overflow: hidden;
  }

  .box-inner {
    padding: 10px;
  }
}

// #main-content {}
