$font-stack: Helvetica, sans-serif;

$header-bg-color: #14a6fa;
$nav-bg-color: #494b5c;

$dark-gray: #494b5c;

$light-blue: #14a6fa;
$med-blue: #1283c4;
$dark-blue: #5a6078;
$off-white: #f0f1f5;
$light-gray: #16151570;
